@import "../../../../styles"

.container
    display: flex
    flex-direction: column

    .my-areas-container-heading
        display: flex
        flex-direction: row
        align-items: center

        h1
            width: $spacer-perc-60

        .my-areas-container-heading-btn
            width: $spacer-perc-40
            display: flex
            flex-direction: column
            align-items: end

    .my-areas-container
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        gap: $spacers-m

    .area-card
        width: $spacer-perc-100
        height: fit-content

        .area-card-heading
            display: flex
            flex-direction: row
            align-content: center

            h3
                margin-top: $spacer-none
                width: $spacer-perc-90

            .mat-icon
                width: $spacer-perc-10
                margin-top: $spacers-05
