<div class="container">
    <ng-container [ngTemplateOutlet]="allowanceDetails">
    </ng-container>
    <div class="allowance-details-container">
        <ng-container
            [ngTemplateOutlet]="allowanceItem"
            [ngTemplateOutletContext]="{
                name: 'PAGES.ALLOWANCE.LABEL.AREA_API',
                count: allowance?.apiUtilizationBreakdown?.getArea,
                desc: 'PAGES.ALLOWANCE.DESCRIPTION.AREA_API',
                callCountDesc: 'PAGES.ALLOWANCE.INFO.ALLOWANCE_MULTI_CALL'
                }">
        </ng-container>
        <ng-container
            [ngTemplateOutlet]="allowanceItem"
            [ngTemplateOutletContext]="{
                name: 'PAGES.ALLOWANCE.LABEL.AREA_INFO_API',
                 count: allowance?.apiUtilizationBreakdown?.getAreaInformation,
                 desc: 'PAGES.ALLOWANCE.DESCRIPTION.AREA_INFO_API',
                 callCountDesc: 'PAGES.ALLOWANCE.INFO.ALLOWANCE_SINGLE_CALL'
                 }">
        </ng-container>
        <ng-container
            [ngTemplateOutlet]="allowanceItem"
            [ngTemplateOutletContext]="{
                name: 'PAGES.ALLOWANCE.LABEL.AREA_NEARBY_API',
                count: allowance?.apiUtilizationBreakdown?.getAreasNearby,
                desc: 'PAGES.ALLOWANCE.DESCRIPTION.AREA_NEARBY_API',
                callCountDesc: 'PAGES.ALLOWANCE.INFO.ALLOWANCE_MULTI_CALL'
                }">
        </ng-container>
        <ng-container
            [ngTemplateOutlet]="allowanceItem"
            [ngTemplateOutletContext]="{
                name: 'PAGES.ALLOWANCE.LABEL.STATUS_API',
                count: allowance?.apiUtilizationBreakdown?.getStatus,
                desc: 'PAGES.ALLOWANCE.DESCRIPTION.STATUS_API',
                callCountDesc: 'PAGES.ALLOWANCE.INFO.ALLOWANCE_SINGLE_CALL'
                }">
        </ng-container>
    </div>
</div>

<ng-template #allowanceItem let-name='name' let-count="count" let-desc="desc" let-callCountDesc="callCountDesc">
    <app-card class="allowance-item-card">
        <div class="card-heading-container">
            <h1>
                {{name | translate }}
            </h1>
        </div>
        <p>
            {{desc | translate }}
        </p>
        <div class="card-count-container">
            <h3 [matTooltip]="callCountDesc | translate" [matTooltipClass]="'tooltip-primary'">
                {{'PAGES.ALLOWANCE.LABEL.CURRENT_COUNT' | translate }} : {{count}}
            </h3>
        </div>
    </app-card>
</ng-template>

<ng-template #allowanceDetails>
    <app-card class="allowance-item-card">
        <div class="card-heading-container">
            <h1>
                {{'PAGES.ALLOWANCE.LABEL.ESP_ALLOWANCE_DETAILS' | translate }}
            </h1>
        </div>
      <p>
        {{'PAGES.ALLOWANCE.DESCRIPTION.API_QUOTA' | translate }}
      </p>
        <div class="allowance-details-section">
            <h3 [matTooltip]="'PAGES.ALLOWANCE.INFO.CURRENT_CALL_COUNT' | translate" [matTooltipClass]="'tooltip-primary'">
                {{'PAGES.ALLOWANCE.LABEL.CURRENT_CALL_COUNT' | translate }} : {{allowance?.allowance?.count}}
            </h3>
            <h3 [matTooltip]="'PAGES.ALLOWANCE.INFO.CALL_COUNT_LIMIT' | translate" [matTooltipClass]="'tooltip-primary'">
                {{'PAGES.ALLOWANCE.LABEL.CALL_COUNT_LIMIT' | translate }} : {{allowance?.allowance?.limit}}
            </h3>
            <h3 [matTooltip]="'PAGES.ALLOWANCE.INFO.ALLOWANCE_TYPE' | translate" [matTooltipClass]="'tooltip-primary'">
                {{'PAGES.ALLOWANCE.LABEL.ALLOWANCE_TYPE' | translate }} : {{allowance?.allowance?.type}}
            </h3>
        </div>
    </app-card>
</ng-template>
