@import "../../../../styles"

.container
    display: flex
    flex-direction: column
    gap: $spacers-m

    .allowance-details-container
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        gap: $spacers-m

        .allowance-item-card
            width: 345px

    .allowance-item-card

        h1
            color: $font-primary-color
            margin-top: $spacer-none

        .allowance-details-section
            display: flex
            flex-direction: row
            justify-content: space-around
            cursor: pointer

        .card-heading-container
            display: flex
            flex-direction: column
            align-items: center

        p
            color: $font-primary-light-color
            margin: $spacer-none

        .card-count-container
            display: flex
            flex-direction: column
            align-items: center

h3
    color: $font-primary-light-color
    font-weight: 500