@import "../../../../styles"

.container
    display: flex
    flex-direction: column

    .area-segment
        display: flex
        flex-direction: column
        gap: $spacers-m

        h1
            margin-bottom: $spacer-none

    .area-filter-input
        width: $spacer-perc-100

    .area-card
        width: $spacer-perc-100
        height: fit-content

        p
            margin-top: $spacer-none
            color: $font-primary-light-color

        .area-card-heading
            display: flex
            flex-direction: row

            h3
                margin-top: $spacer-none
                width: $spacer-perc-80

       