<div class="loadshedding-status-container">
    <app-card class="loadshedding-status-card" [cssClass]="ngStyleService.getStageBgColor(entity.stage)"
    *ngFor="let entity of loadSheddingStatus; index as i; first as isFirst">
        <div >
            <p class="">{{entity.name}}</p>
            <p>Stage {{entity.stage}}</p>
            <p>Last Updated : {{entity.stage_updated | date : 'yyyy/MM/dd hh:mm a'}}</p>
            @if ((entity?.next_stages?.length || 0) >= 1) {
                <div class="ld-status-up-next-container">
                    <div>
                        <mat-icon aria-hidden="false" aria-label="warning" fontIcon="warning"></mat-icon>
                    </div>
                    <div>
                        <span>Stage {{entity.next_stages[0].stage}}</span>
                        <span>up next at {{entity.next_stages[0].stage_start_timestamp | date : 'yyyy/MM/dd hh:mm a'}}</span>
                    </div>
                </div>
            }@else{
                <div class="ld-status-up-next-container">
                    <div>
                        <mat-icon aria-hidden="false" aria-label="celebration" fontIcon="celebration"></mat-icon>
                    </div>
                    <div>
                        <span>No upcomming loadshedding</span>
                    </div>
                </div>
            }
        </div>
    </app-card>
</div>