@import "../styles"

.main
    width: $extension-width
    height: $extension-height

.tab-content
    width: $extension-tab-width
    height: $extension-tab-height
    overflow: overlay
    display: flex
    flex-direction: column
    background-image: $eskom-bg-fade-color
    padding: $padding-md
    padding-bottom: $padding-l
