@import "../styles"

.main
    width: 750px
    height: 600px

.tab-content
    width: 720px
    height: 552px //REMOVE HEIGHT TO ONLY ALLOW SCROLL FOR TAB CONTENT AND NOT TAB HEADERS
    overflow: overlay
    display: flex
    flex-direction: column
    background-image: $eskom-bg-fade-color
    padding: $padding-md
    padding-bottom: $padding-l
