<div class="section-container">
    <h1>
        Welcome to the ESP Loadshedding extension
    </h1>

    <p>
        We're thrilled to have you on board.
    </p>

    <p>
        This guide is designed to assist you in navigating through the initial setup process necessary for the
        functionality of this extension.
    </p>

    <p>
        Whether you're a seasoned user or just getting started, we're here to ensure your experience
        is as smooth as possible.
    </p>

    <p>
        Let's embark on this journey together and unlock the full potential of the ESP Loadshedding extension!
    </p>
</div>

<div class="section-container">
    <h1>
        Step 1: Sign up for an ESP API key
    </h1>

    <p>
        Go to the Gumroad Dashboard with the link below to sign up for an ESP API Key.
    </p>

    <p>
        You can copy the link with the copy button on the right and then paste the link in a new browser tab.
    </p>

    <div class="copy-input-container">
        <mat-form-field appearance="outline">
            <mat-label>Copy Gumroad API Link</mat-label>
            <input matInput [(ngModel)]="gumroadLink" disabled>
            <button mat-icon-button matSuffix (click)="copyText()" aria-label="Copy Gumroad API Link">
                <mat-icon aria-hidden="false" aria-label="edit" fontIcon="content_copy"></mat-icon>
            </button>
        </mat-form-field>
    </div>

    <p>
        Once you are on the page you can click on the Subscribe button on the right that will navigate you to the next page.
    </p>

    <img src="assets/images/STEP1.png">

    <p>
        Once the Sign Up form has loaded, you will need to enter your email address and full name on the right and and then you can click the Get Button.
    </p>

    <img src="assets/images/STEP2.png">
</div>

<div class="section-container">
    <h1>
        Step 2: Getting your ESP API key
    </h1>

    <p>
        Once you have succesfully registered you will be navigated to your subscription page where you will find a section with a label "License key".
    </p>

    <p>
        Click on the "Copy" button to get your API key ready for the next step.
    </p>

    <img src="assets/images/STEP3.png">

    <p>
        Optionally you will also recieve an email with your API key which you can copy. 
    </p>

    <img src="assets/images/STEP4.png">
</div>

<div class="section-container">
    <h1>
        Step 3: Saving ESP API key in the settings tab
    </h1>

    <p>
        With the copied API key, come back to the ESP Loadshedding extension and navigate to the settings Tab by clicking on the Gear icon in the top right.
    </p>

    <P>
        One on the settings page paste your API key in the "API Key" input field and click on the Save button.
    </P>

    <img src="assets/images/STEP5.png">
</div>

<div class="section-container">
    <h1>
        Congratulations, You are all set :)
    </h1>
</div>

<div class="section-container">
    <h1>
        Very Important
    </h1>

    <P>
        You are limited to only one API key. So make sure you save it.
    </P>

    <P>
        If you attempt to register again for a new API key, your account will be blocked for 24 hours.
    </P>

    <p>
        Only after 24 hours will your account be reset where you can try again with a single API key.
    </p>
</div>