<div class="section-container">
    <h1>
        Welcome to the Eskom Se Push extension!
    </h1>

    <p>
        We're thrilled to have you on board.
    </p>

    <p>
        This guide is designed to assist you in navigating through the initial setup process necessary for the
        functionality
        of this extension. Whether you're a seasoned user or just getting started, we're here to ensure your experience
        is as smooth as
        possible.
    </p>

    <p>
        Let's embark on this journey together and unlock the full potential of the Eskom Se Push extension!
    </p>
</div>

<div class="section-container">
    <h1>
        Step 1: Sign up for a ESP api key
    </h1>

    <p>
        Go to the Eskom Se Push Gumroad Dashboard with the link below to sign up for a ESP API Key.
    </p>

    <div class="copy-input-container">
        <mat-form-field appearance="outline">
            <mat-label>Copy Gumroad API Link</mat-label>
            <input matInput [(ngModel)]="gumroadLink" disabled>
            <button mat-icon-button matSuffix (click)="copyText()" aria-label="Copy Gumroad API Link">
                <mat-icon aria-hidden="false" aria-label="edit" fontIcon="content_copy"></mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="link-box">
        <span>https://eskomsepush.gumroad.com/l/api</span>
    </div>

    <p>
        Once on the page click on the Subscribe button on the right that will navigate you to the next page.
    </p>

    <img src="assets/images/setup-guide-3.png">

    <p>
        Once the Sign Up form has loaded, enter your email address and click the Get Button.
        Once you are done with that you will recieve a email from "customers.gumroad.com" that wil contain your API key.
    </p>

    <img src="assets/images/setup-guide-4.png">
</div>

<div class="section-container">
    <h1>
        Step 2: Getting ESP api key from email
    </h1>

    <p>
        Once you have recieved your sign up email from "customers.gumroad.com", copy your API key.
    </p>

    <img src="assets/images/setup-guide-1.png">
</div>

<div class="section-container">
    <h1>
        Step 3: Saving ESP api key in settings tab
    </h1>

    <p>
        With the copied API key paste it in the "API Key" input field and click on the Save button.
    </p>

    <img src="assets/images/setup-guide-2.png">
</div>

<div class="section-container">
    <h1>
        Congratulations, You are all set
    </h1>
</div>