@import "../../../../styles"

.section-container
    padding-top: $padding-md
    padding-bottom: $padding-md
    
    h1
        margin-top: $spacers-1

    img
        width: $spacer-perc-100
        border-radius: $radius-md

    p
        font-size: $font-size-md

.copy-input-container
    padding-top: $spacers-15
    display: flex
    flex-direction: column
    width: $spacer-perc-100

    input
        color: $eskom-title-color