<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_1' | translate }}
    </h1>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_2' | translate }}
    </p>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_3' | translate }}
    </p>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_4' | translate }}
    </p>
</div>
<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_5' | translate }}
    </h1>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_6' | translate }}
    </p>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_7' | translate }}
    </p>
    <div class="copy-input-container">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'PAGES.SETUP.INPUT_LABEL' | translate }}</mat-label>
            <input matInput [(ngModel)]="gumroadLink" disabled>
            <button mat-icon-button matSuffix (click)="copyText()">
                <app-info-icon text="ACTIONS.COPY" icon="content_copy"></app-info-icon>
            </button>
        </mat-form-field>
    </div>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_8' | translate }}
    </p>
    <img src="assets/images/guide/STEP1.png">
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_9' | translate }}
    </p>
    <img src="assets/images/guide/STEP2.png">
</div>
<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_10' | translate }}
    </h1>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_11' | translate }}
    </p>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_12' | translate }}
    </p>
    <img src="assets/images/guide/STEP3.png">
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_13' | translate }}
    </p>
    <img src="assets/images/guide/STEP4.png">
</div>
<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_14' | translate }}
    </h1>
    <p>
        {{ 'PAGES.SETUP.PARAGRAPH_15' | translate }}
    </p>
    <P>
        {{ 'PAGES.SETUP.PARAGRAPH_16' | translate }}
    </P>
    <img src="assets/images/guide/STEP5.png">
</div>
<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_17' | translate }}
    </h1>
</div>
<div class="section-container">
    <h1>
        {{ 'PAGES.SETUP.PARAGRAPH_18' | translate }}
    </h1>
    <P>
        {{ 'PAGES.SETUP.PARAGRAPH_19' | translate }}
    </P>
</div>