@import "../../../../styles"

.upcomming-schedule-card
    width: $spacer-perc-100
    height: fit-content

    p:nth-of-type(1)
        font-weight: $font-weight-m
        font-size: $font-size-md

    li
        color: $eskom-card-content-text-color

        &::marker
            font-size: $font-size-xl

        &.stage0-color::marker
            color: $eskom-stage-0-color

        &.stage1-color::marker
            color: $eskom-stage-1-color

        &.stage2-color::marker
            color: $eskom-stage-2-color

        &.stage3-color::marker
            color: $eskom-stage-3-color

        &.stage4-color::marker
            color: $eskom-stage-4-color

        &.stage5-color::marker
            color: $eskom-stage-5-color

        &.stage6-color::marker
            color: $eskom-stage-6-color
  
