@import "../../../../styles"

.settings-card
    width: 100%
    height: fit-content

    .mat-mdc-form-field
        width: 100%

    .settings-card-header
        display: flex
        flex-direction: row
        align-items: center
        margin-bottom: 15px

        h1
            width: 80%
            margin-top: 5px
            margin-bottom: 15px

.eskomForm
    display: flex
    flex-direction: column
    gap: 2rem

.save-btn-container
    display: flex
    flex-direction: column
    width: 100%
    padding-top: $padding-md
    padding-bottom: $padding-md
    align-content: end
    flex-wrap: wrap

.pages-container
    display: flex
    flex-direction: row
    width: 100%
    gap: 2rem
