// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "styles";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary-palette-themes: (
  50: $background-secondary,
  100: $background-secondary,
  200: $background-secondary,
  300: $background-secondary,
  400: $background-secondary,
  500: $background-secondary,
  600: $background-secondary,
  700: $background-secondary,
  800: $background-secondary,
  900: $background-secondary,
  contrast: (50: $font-primary-color,
    100: $font-primary-color,
    200: $font-primary-color,
    300: $font-primary-color,
    400: $font-primary-color,
    500: $font-primary-color,
    600: $font-primary-color,
    700: $font-primary-color,
    800: $font-primary-color,
    900: $font-primary-color,
  )
);

$secondary-palette-themes: (
  50: $background-primary,
  100: $background-primary,
  200: $background-primary,
  300: $background-primary,
  400: $background-primary,
  500: $background-primary,
  600: $background-primary,
  700: $background-primary,
  800: $background-primary,
  900: $background-primary,
  contrast: (50: $font-primary-color,
    100: $font-primary-color,
    200: $font-primary-color,
    300: $font-primary-color,
    400: $font-primary-color,
    500: $font-primary-color,
    600: $font-primary-color,
    700: $font-primary-color,
    800: $font-primary-color,
    900: $font-primary-color,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat.define-palette($primary-palette-themes);
$secondary-palette: mat.define-palette($secondary-palette-themes);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-palette,
    accent: $secondary-palette,
    secondary: $secondary-palette,
    tertiary: $secondary-palette,
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: -1,
));

@include mat.core-theme($dark-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dark-theme);

//DISCLAIMER
//I AM TO LAZY TO FIGURE OUT WHY THE MAT INPUTS DON'T WORK WITH THE BUILT IN ANGULAR THEMING.
//SO I CHANGE THE THEMING THE "Intelligent" WAY BY DOING THE EXACT OPISITE OF WHAT YOU ARE ACTUALLY SUPPOSE TO DO :)

.mat-form-field-input-primary {
  --mdc-filled-text-field-container-color: $background-primary;
}

.mat-mdc-form-field-type-mat-select{
  .mat-mdc-text-field-wrapper{
    --mdc-filled-text-field-container-color: $background-primary !important;
  }
}

.mat-mdc-select-panel{
  --mat-full-pseudo-checkbox-selected-checkmark-color: $font-primary-color !important;

  background-color: $background-primary !important;

  .mdc-list-item--selected{
    color: $font-primary-color !important;
  }
  
  .mdc-list-item__primary-text{
    color: $font-primary-color !important;
  }
}

.tooltip-primary {
  .mdc-tooltip__surface{
    color: $font-primary-color !important;
    background-color: $background-primary !important;
  }
}

.tooltip-secondary{
  .mdc-tooltip__surface{
    color: $font-primary-light-color !important;
    background-color: $background-secondary !important;
  }
}